form{
    display: flex;
    flex-direction: column;
    gap: 2rem;    
}
form .inputs-container{
    display: flex ;
    flex-wrap: wrap;
    width: 50%;
}
form .inputs-container .name{
    display: flex;
    gap: 1rem;
    width: 100%;
    
}
form .inputs-container .email{
    width: 50%;
}
form .inputs-container .password{
    display: flex;
    gap: 1rem;
}
form .terms-and-conditions{
    margin-top: -3rem;
}
form h5{
    font-weight: 300;
}
form .checkbox{
    display: flex;
    align-items: center;
    gap: 1rem;
}
form .checkbox .error{
    color: red;
}
form .checkbox input{
    width: 1rem;
    height:  1rem;
}
form button{
    width: 9rem;
    height: 2.5rem;
    background-color: rgb(70, 15, 70);
    color: white;
    border: none;
    border-radius:3px;
}